// VARIABLES
$font: 'Livvic';

$font-color: #FFFFFF;
$name-color: #79C8C7;
$pink-color: #F67E7E;
$bg1-color: #014E56;
$bg2-color: #004047;
$bg3-color: #01292e;
$bg4-color: #012f34;
$list-color: #002529;
